html {
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#content {
    margin: 1em;
}

h3 {
    text-align: center;
}

form {
    font-size: 5vh;
    font-size: 5vmax;
}

label {
    display: block;
}

label:after {
    content: ':'
}

input[type="text"] {
    display: block;
    width: 100%;
    height: 5vh;
    height: 5vmax;
    font-size: 4vh;
    font-size: 4vmax;
    margin: 0.5em 0;
}

input[type="submit"] {
    width: 100%;
    font-size: 4vh;
    font-size: 4vmax;
    text-align: center;
}

.countdown {
    font-size: 2vh;
    font-size: 2vmax;
    background-color: #7f1f7f;
    color: white;
    position: relative;
    padding: 0.5em 1em;
}

.countdown .seconds {
    position: absolute;
    right: 1em;
    top: 0.5em;
}

#join-status {
    background-color: #7f1f7f;
    color: white;
    font-size: 2vh;
    font-size: 2vmax;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.5em 1em;
}

.big-countdown {
    text-align: center;
    margin-top: 15vh;
    margin-top: 15vmax;
    font-size: 20vh;
    font-size: 20vmax;
}

.scores {
    font-size: 5vh;
    font-size: 5vmax;
    margin: 3vh 0;
    margin: 3vmax 0;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.3);
    border: 1px solid silver;
}

.scores h3 {
    border-bottom: 1px solid silver;
    margin: 0;
    text-align: center;
}

.score {
    display: inline-block;
    width: 50%;
    text-align: center;
}

.score.red {
    color: red;
}

.score.blue {
    color: blue;
}

button {
    display: block;
    margin: 3vh auto;
    margin: 3vmax auto;
    padding: 1vh 3vh;
    padding: 1vmax 3vmax;
    font-size: 5vh;
    font-size: 5vmax;
    color: white;
    border: 1px solid black;
}

button.Red {
    background-color: red;
}

button.Blue {
    background-color: blue;
}

.winner {
    text-align: center;
    font-size: 8vh;
    font-size: 8vmax;
}

.winner.Red {
    color: red;
}

.winner.Blue {
    color: blue;
}

#top-player {
    font-size: 6vh;
    font-size: 6vmax;
    text-align: center;
}
