body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    background-color: white;
}

#content {
    margin: 2em;
}

h3 {
    text-align: center;
}

.countdown {
    font-size: 2vh;
    font-size: 2vmax;
    background-color: #7f1f7f;
    color: white;
    position: relative;
    padding: 0.5em 1em;
}

.countdown .seconds {
    position: absolute;
    right: 1em;
    top: 0.5em;
}

#player-count {
    font-size: 5vmax;
    text-align: center;
    margin: 3vmax;
}

.big-countdown {
    text-align: center;
    margin-top: 15vh;
    margin-top: 15vmax;
    font-size: 15vh;
    font-size: 15vmax;
}

.scores {
    font-size: 5vmax;
    margin: 3vmax;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.3);
    border: 1px solid silver;
}

.scores h3 {
    border-bottom: 1px solid silver;
    margin: 0;
    text-align: center;
}

.score {
    display: inline-block;
    width: 50%;
    text-align: center;
}

.score.red {
    color: red;
}

.score.blue {
    color: blue;
}

.winner {
    text-align: center;
    font-size: 8vh;
    font-size: 8vmax;
}

.winner.Red {
    color: red;
}

.winner.Blue {
    color: blue;
}

#top-player {
    font-size: 6vh;
    font-size: 6vmax;
    text-align: center;
}